network-security.data
tramp
*~
*#
*.elc
./auto-save-list/
./autosaves/
./backups/
./config/external/elpa/archives/gnu/archive-contents
./config/external/elpa/archives/gnu/archive-contents.signed
./config/external/elpa/archives/melpa/archive-contents
./config/internal/esh-mode/eshell/lastdir
./config/internal/esh-mode/eshell/history
