*~
*#
*.elc
network-security.data
tramp
autosaves/
backups/
config/external/elpa/archives/
config/external/lsp-mode/lsp-sessions/lsp-session-v1
config/internal/eshell/eshell/eshell/history
config/internal/eshell/eshell/eshell/lastdir
eln-cache/